.txt-danger {
    color: #FF8181 !important;
}

.txt-warning {
    color: #FF8B13 !important;
}

.txt-success {
    color: #21C992 !important;
}

.txt-secondary {
    color: #7B8B9F !important;
}

.txt-primary {
    color: #2079FF !important;
}

.txt-light {
    color: #FFFFFF !important;
}
