.thumb-img-template {
    width: 48px;
    height: 48px;
    background-color: #FFD315;
    border-radius: 15px;
}

.thumb-icon-template {
    width: 38px;
    height: 38px;
    background-color: #FFD315;
    border-radius: 10px;
}